snippet ors
  (discretize "${3:8}" $ fast "${4:1}" $ range ("${1:0}") ("${2:1}") $ sine)

snippet ora
  (discretize "${3:8}" $ fast "${4:1}" $ range ("${1:0}") ("${2:1}") $ saw)

snippet ort
  (discretize "${3:8}" $ fast "${4:1}" $ range ("${1:0}") ("${2:1}") $ tri)

snippet orr
  (discretize "${3:8}" $ fast "${4:1}" $ range ("${1:0}") ("${2:1}") $ rand)

