snippet gain
  |* gain ($1/8)
snippet pan
  # pan ($1/8)
snippet orbit
  # orbit ($1)

snippet hpf
  # hpf ($1*100)
snippet hpq
  # hpq ($1/100)

snippet lpf
  # lpf ($1*100)
snippet lpq
  # lpq ($1/100)

snippet bpf
  # bpf ($1*100)
snippet bpq
  # bpq ($1/100)

