snippet fast
  fast ($1) $ 
snippet slow
  slow ($1) $ 

snippet discretize
  discretize ($1) $ 

snippet trigger
  trigger ($1) $ 

snippet linger
  linger ($1/8) $ 
snippet ply
  ply ($1) $ 

snippet chop
  chop ($1) $ 

snippet iter
  iter ($1) $ 

snippet rot
  rot ($1) $ 

snippet degradeBy
  degradeBy ($1/8) $ 

snippet shiftBy
  shiftBy ($1/8) $ 
