# NOTE: should only include shorthands for other snippets
snippet g
  gain
snippet o
  orbit
snippet s
  speed

snippet fh
  hpf
snippet fl
  lpf
snippet fb
  bpf

snippet d
  discretize
snippet S
  shiftBy


snippet it
  iter
snippet ch
  chop

snippet sc
  chop

snippet sc
  chop
