# TODO: make this more adaptable, 
# ie: specify (x*8) and get a "<0 8 16 ....>" string that adapts
snippet slice
  slice (4*8) (fast 4 $ "[0] [1] [2] [3] [4] [5] [6] [7]" + "<0 8 16 24>") 

snippet bite 
  bite (1*8) ("[0] [1] [2] [3] [4] [5] [6] [7]") 
